* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #B8B8B8
}

.header {
  overflow: hidden;
  background-color: maroon;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: #B8B8B8;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 30px;
  font-weight: bold;
}

.header a:hover {
  background-color: dodgerblue;
  color: white;
}



.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }
  
  .header-right {
    float: left;
  }
}

body
{
    background-color: lightgrey;
    color: #A52439;
}
#submitStudyPlanInfoButton, #submitChangeOfEnrollmentButton
{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
a {
    color: red;
    text-decoration: underline;
    text-transform: uppercase;
}
